<div class = "container">
  <div class = "raw">
    <div class = "col-9 space">
      <%= form_with(model:[@food], local: true) do |f| %>
        <h4>料理名</h4>
        <div class = "form-group space" >
          <%= f.text_field :comment, class: 'form-control', rows:'5'%>
        </div>
        <h4>工程</h4>       
        <div class = "form-group space" >
         <p>切る　<%= f.radio_button(:cut, true) %>　</p>
        </div>
        <div class = "form-group" >
         <p>焼く　<%= f.radio_button(:grill, true) %>　</p>
        </div>
        
          <%= f.submit '送信', class: 'btn btn-success'%>
      <% end %>
    </div>
  </div>
 </div> 