 <div class = "container">
      <div class = "row space recipe">
          <div class = "col-md-4 " >
              <%= attachment_image_tag @food, :image, size: "300x300", format: 'jpeg', fallback: "no_image.jpg" %>
          </div>
           <div class = "col-md-7" >
              <h2><%= @food.name %></h2>
              <%= link_to '詳しいレシピはこちら', @food.link, class: "btn btn-sm btn-warning text-dark" %>
              
               <%= link_to '', food_path(@food.id), method: :delete, data: { confirm: 'レシピを消しますか？' }, class: "btn btn-sm btn-danger fa fa-trash" %>
              
           </div>
      </div>
      <div class = "raw space">
          <h4 class = "space">RECOMMEND　【<%=@food.genre %>】</h4>
           <%= form_with model: @food do |f| %>
             <%= f.select :genre, [["Ingredients", "Ingredients"], ["seasoning", "seasoning"], ["Process", "Process"]] %>
             <%= f.submit 'Cook!'%>
           <% end %>
      </div>

      <div class = "row">
           <% if @food.genre == "Process"%>
             <% @foods.each do |food| %>
                <% count = 0 %>
                <% if @food.cut == food.cut && food.cut == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.grill == food.grill && food.grill == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.boil == food.boil && food.boil == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.fry == food.fry && food.fry == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.steam == food.steam && food.steam == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if count >= 1 %>
                <div class = "col-3 space-col">
                  <%= link_to food_path(food.id) do %>
                    <%= attachment_image_tag food, :image, size: "230x230", format: 'jpeg', fallback: "no_image.jpg" %>
                  <% end %>
                </div>
                <% end %>
              <% end %>
           
            <% elsif @food.genre == "Ingredients"%>
             <% @foods.each do |food| %>
                <% count = 0 %>
                <% if @food.beef == food.beef && food.beef == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.pork == food.pork && food.pork == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.chicken == food.chicken && food.chicken == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.potato == food.potato && food.potato == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.onion == food.onion && food.onion == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.carrot == food.carrot && food.carrot == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.fish == food.fish && food.fish == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if count >= 1 %>
                <div class = "col-3 space-col">
                  <%= link_to food_path(food.id) do %>
                    <%= attachment_image_tag food, :image, size: "230x230", format: 'jpeg', fallback: "no_image.jpg" %>
                  <% end %>
                </div>
                <% end %>
             <% end %>
           
           <% else %>
             <% @foods.each do |food| %>
                <% count = 0 %>
                <% if @food.soisource == food.soisource && food.soisource == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.salt == food.salt && food.salt == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.papper == food.papper && food.papper == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.sugar == food.sugar && food.sugar == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.vinegar == food.vinegar && food.vinegar == true %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.mirin == food.mirin && food.mirin == true  %>
                  <% count += 1 %>
                <% end %>
                
                <% if @food.sake == food.sake && food.sake == true %>
                  <% count += 1 %>
                <% end %>
                <% if count >= 1 %>
                <div class = "col-3 space-col">
                  <%= link_to food_path(food.id) do %>
                    <%= attachment_image_tag food, :image, size: "230x230", format: 'jpeg', fallback: "no_image.jpg" %>
                  <% end %>
                </div>
                <% end %>
             <% end %>
           <% end %>
     </div>
 </div>